<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeboard">

	<select id="freeboardPage" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM freeboard
		WHERE isvisible=1
	</select>

	<select id="freeboardList" parameterType="FreeboardDTO" resultType="FreeboardDTO">
		SELECT *
		FROM freeboard
		WHERE isvisible=1
		ORDER BY writeno DESC
		LIMIT #{start}, 10
	</select>

	<update id="hit" parameterType="FreeboardDTO">
		UPDATE freeboard
		SET views=#{views}+1
		WHERE writeno=#{writeno}
	</update>

	<select id="freeboardDetail" parameterType="int" resultType="FreeboardDTO">
		SELECT *
		FROM freeboard
		WHERE writeno=#{writeno}
	</select>

	<select id="ReplyPage" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM reply
		WHERE isvisible=1 AND boardname="freeboard" AND wno=#{writeno}
	</select>

	<select id="freeboardReply" parameterType="ReplyDTO" resultType="ReplyDTO">
		SELECT *
		FROM reply
		WHERE boardname="freeboard" AND isvisible=1 AND wno=#{wno}
		ORDER BY repno DESC
		LIMIT #{start}, 10
	</select>

	<insert id="replyAdd" parameterType="ReplyDTO">
		INSERT INTO reply(wno, boardname, id, content, writedate)
		VALUES (#{wno},"freeboard",#{id},#{content}, now())
	</insert>

	<select id="SearchPage" parameterType="FreeboardDTO" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM freeboard
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='title'">
					AND title like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='content'">
					AND content like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='id'">
					AND id like CONCAT('%', #{keyword}, '%')
				</if>
			</if>
		</trim>
	</select>

	<select id="freeboardSearch" parameterType="FreeboardDTO" resultType="FreeboardDTO">
		SELECT *
		FROM freeboard
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='title'">
					AND title like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='content'">
					AND content like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='id'">
					AND id like CONCAT('%', #{keyword}, '%')
				</if>
			</if>
		</trim>
		ORDER BY writeno DESC
		LIMIT #{start}, 10
	</select>

	<insert id="freeboardWrite" parameterType="FreeboardDTO">
		INSERT INTO freeboard(id, title, content, writedate)
		VALUES (#{id},#{title},#{content}, now())
	</insert>

	<update id="freeboardUpdate" parameterType="FreeboardDTO">
		UPDATE freeboard
		SET title=#{title}, content=#{content}
		WHERE writeno=#{writeno}
	</update>

	<update id="freeboardDelete" parameterType="int">
		UPDATE freeboard
		SET
		isvisible=0
		WHERE writeno=#{writeno}
	</update>
	
</mapper>

