<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="player">

	<select id="pitcher" parameterType="PlayerRecordDTO" resultType="PlayerRecordDTO">
		SELECT *
		FROM playerRecord
		WHERE pno=#{pno}
		ORDER BY gdate DESC
		LIMIT #{start}, 5
	</select>

	<select id="batter" parameterType="PlayerRecordDTO" resultType="PlayerRecordDTO">
		SELECT *
		FROM playerRecord
		WHERE pno=#{pno}
		ORDER BY gdate DESC
		LIMIT #{start}, 5
	</select>

	<select id="PlayerPage" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM playerRecord
		WHERE pno=#{pno}
	</select>

	<select id="ranking" resultType="PlayerRecordDTO">
		SELECT r.pno, i.name, i.teamname, sum(anta)/sum(tasu) AS tayul
		FROM playerRecord r, playerinfo i
		WHERE r.pno=i.pno AND r.ptype = "타자"
		GROUP BY pno
		ORDER BY tayul DESC
		LIMIT 5
	</select>

	<select id="ranking2" resultType="PlayerRecordDTO">
		SELECT r.pno, i.name, i.teamname, sum(home_run) AS home_run
		FROM playerRecord r, playerinfo i
		WHERE r.pno=i.pno AND r.ptype = "타자"
		GROUP BY pno
		ORDER BY home_run DESC
		LIMIT 5
	</select>
	
	<select id="ranking3" resultType="PlayerRecordDTO">
		SELECT r.pno, i.name, i.teamname, sum(tajum) AS tajum
		FROM playerRecord r, playerinfo i
		WHERE r.pno=i.pno AND r.ptype = "타자"
		GROUP BY pno
		ORDER BY tajum DESC
		LIMIT 5
	</select>
	
	<select id="ranking4" resultType="PlayerRecordDTO">
		SELECT r.pno, i.name, i.teamname, count(*) AS sunbal
		FROM playerRecord r, playerinfo i
		WHERE r.pno=i.pno AND r.ptype = "투수"
		GROUP BY pno
		ORDER BY sunbal DESC
		LIMIT 5
	</select>
	
	<select id="ranking5" resultType="PlayerRecordDTO">
		SELECT r.pno, i.name, i.teamname, SUM(samjin) AS samjin
		FROM playerRecord r, playerinfo i
		WHERE r.pno=i.pno AND r.ptype = "투수"
		GROUP BY pno
		ORDER BY samjin DESC
		LIMIT 5
	</select>
	
	<select id="ranking6" resultType="PlayerRecordDTO">
		SELECT r.pno, i.name, i.teamname, SUM(anta)/SUM(tasu) AS sunbal
		FROM playerRecord r, playerinfo i
		WHERE r.pno=i.pno AND r.ptype = "투수"
		GROUP BY pno
		ORDER BY sunbal ASC
		LIMIT 5
	</select>
	
	<select id="common" parameterType="int" resultType="PlayerInfoDTO">
		SELECT *
		FROM playerinfo
		WHERE pno=#{pno}
	</select>
	
	<select id="pitcher2" parameterType="int" resultType="PlayerRecordDTO">
		select count(*) as sunbal, sum(samjin) as samjin, sum(anta) as anta,
		(sum(ball4)+sum(go4)+sum(sagu)) as sagu, sum(jachak) as jachak,
		sum(home_run) as home_run
		from playerRecord
		where pno=#{pno}
	</select>
	
	<select id="batter2" parameterType="int" resultType="PlayerRecordDTO">
		select sum(anta)/sum(tasu) as tayul, count(*) as sunbal, sum(djum) as djum,
		sum(anta) as anta, sum(home_run) as home_run, sum(tajum) as tajum,
		sum(samjin) as samjin, (sum(ball4)+sum(go4)+sum(sagu)) as sagu,
		sum(doru) as doru
		from playerRecord
		where pno=#{pno}
	</select>
	
	<select id="getTeamCnt" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM playerinfo
		WHERE teamname=#{teamname}
	</select>
	
	<select id="getTeamList" parameterType="PlayerInfoDTO" resultType="PlayerInfoDTO">
		SELECT *
		FROM playerinfo
		WHERE teamname=#{teamname}
		ORDER BY labelno ASC
		LIMIT #{start}, 5
	</select>
	
	<select id="ining" resultType="PlayerRecordDTO">
		SELECT ining
		FROM playerRecord
		WHERE pno=#{pno}
	</select>
	
	<select id="iningCount" resultType="PlayerRecordDTO">
		SELECT count(*) as gsc
		FROM playerRecord
		WHERE pno=#{pno}
	</select>
	
	
	<!-- 선수 명단 가져오기 팀 무시 -->
	<select id="playerList" resultType="com.ggs.DTO.PlayerInfoDTO">
		select pno, name, labelno, position, teamname, totalcnt from playerinfo, (
		select count(*) as totalcnt from playerinfo
		) as c
		order by name limit #{start}, 10;
	</select>
</mapper>

