<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schmatch">
	
	<select id="schmatch" resultType="com.ggs.DTO.TeamRecordDTO">
		SELECT * FROM 
			(
				SELECT *
				FROM teamRecord 
				WHERE DATEDIFF(gdate, date(NOW()))&gt; 0 
					AND  ateamname != '경기없음'
				ORDER BY gdate LIMIT #{start}, 10
			) AS s, 
			(
				SELECT COUNT(*) AS totalcnt FROM teamRecord	WHERE DATEDIFF(gdate, date(NOW()))&gt;0 AND  ateamname != '경기없음' 
			) AS c
	</select>
	<select id="getrltmatchList" resultType="com.ggs.DTO.TeamRecordDTO">
		SELECT * FROM 
			(
				SELECT *
				FROM teamRecord 
				WHERE DATEDIFF(gdate, date(NOW()))&lt; 0 
					AND  ateamname != '경기없음'
				ORDER BY gdate desc LIMIT #{start}, 10
			) AS s, 
			(
				SELECT COUNT(*) AS totalcnt FROM teamRecord	WHERE DATEDIFF(gdate, date(NOW()))&lt;0 
			) AS c
	</select>
</mapper>
