<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team">

	<select id="getKIAWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="KIA" AND ascore > bscore) OR (bteamname="KIA" AND bscore > ascore)
	</select>
	
	<select id="getKIADraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="KIA" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="KIA" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getKIALose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="KIA" AND bscore > ascore) OR (bteamname="KIA" AND ascore > bscore)
	</select>

	<select id="getKIAScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="KIA") AS score
		FROM teamRecord
		WHERE ateamname="KIA";
	</select>
	
	<select id="getKIALoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="KIA") AS loss
		FROM teamRecord
		WHERE ateamname="KIA";
	</select>
	
	<select id="getKTWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="KT" AND ascore > bscore) OR (bteamname="KT" AND bscore > ascore)
	</select>
	
	<select id="getKTDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="KT" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="KT" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getKTLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="KT" AND bscore > ascore) OR (bteamname="KT" AND ascore > bscore)
	</select>
	
	<select id="getKTScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="KT") AS score
		FROM teamRecord
		WHERE ateamname="KT";
	</select>
	
	<select id="getKTLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="KT") AS loss
		FROM teamRecord
		WHERE ateamname="KT";
	</select>
	
	<select id="getLGWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="LG" AND ascore > bscore) OR (bteamname="LG" AND bscore > ascore)
	</select>
	
	<select id="getLGDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="LG" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="LG" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getLGLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="LG" AND bscore > ascore) OR (bteamname="LG" AND ascore > bscore)
	</select>
	
	<select id="getLGScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="LG") AS score
		FROM teamRecord
		WHERE ateamname="LG";
	</select>
	
	<select id="getLGLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="LG") AS loss
		FROM teamRecord
		WHERE ateamname="LG";
	</select>
	
	<select id="getNCWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="NC" AND ascore > bscore) OR (bteamname="NC" AND bscore > ascore)
	</select>
	
	<select id="getNCDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="NC" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="NC" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getNCLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="NC" AND bscore > ascore) OR (bteamname="NC" AND ascore > bscore)
	</select>
	
	<select id="getNCScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="NC") AS score
		FROM teamRecord
		WHERE ateamname="NC";
	</select>
	
	<select id="getNCLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="NC") AS loss
		FROM teamRecord
		WHERE ateamname="NC";
	</select>
	
	<select id="getSKWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="SK" AND ascore > bscore) OR (bteamname="SK" AND bscore > ascore)
	</select>
	
	<select id="getSKDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="SK" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="SK" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getSKLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="SK" AND bscore > ascore) OR (bteamname="SK" AND ascore > bscore)
	</select>

	<select id="getSKScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="SK") AS score
		FROM teamRecord
		WHERE ateamname="SK";
	</select>
	
	<select id="getSKLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="SK") AS loss
		FROM teamRecord
		WHERE ateamname="SK";
	</select>
	
	<select id="getDSWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="두산" AND ascore > bscore) OR (bteamname="두산" AND bscore > ascore)
	</select>
	
	<select id="getDSDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="두산" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="두산" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getDSLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="두산" AND bscore > ascore) OR (bteamname="두산" AND ascore > bscore)
	</select>

	<select id="getDSScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="두산") AS score
		FROM teamRecord
		WHERE ateamname="두산";
	</select>
	
	<select id="getDSLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="두산") AS loss
		FROM teamRecord
		WHERE ateamname="두산";
	</select>
	
	<select id="getLTWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="롯데" AND ascore > bscore) OR (bteamname="롯데" AND bscore > ascore)
	</select>
	
	<select id="getLTDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="롯데" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="롯데" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getLTLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="롯데" AND bscore > ascore) OR (bteamname="롯데" AND ascore > bscore)
	</select>

	<select id="getLTScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="롯데") AS score
		FROM teamRecord
		WHERE ateamname="롯데";
	</select>
	
	<select id="getLTLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="롯데") AS loss
		FROM teamRecord
		WHERE ateamname="롯데";
	</select>
	
	<select id="getSSWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="삼성" AND ascore > bscore) OR (bteamname="삼성" AND bscore > ascore)
	</select>
	
	<select id="getSSDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="삼성" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="삼성" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getSSLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="삼성" AND bscore > ascore) OR (bteamname="삼성" AND ascore > bscore)
	</select>

	<select id="getSSScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="삼성") AS score
		FROM teamRecord
		WHERE ateamname="삼성";
	</select>
	
	<select id="getSSLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="삼성") AS loss
		FROM teamRecord
		WHERE ateamname="삼성";
	</select>
	
	<select id="getKUWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="키움" AND ascore > bscore) OR (bteamname="키움" AND bscore > ascore)
	</select>
	
	<select id="getKUDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="키움" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="키움" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getKULose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="키움" AND bscore > ascore) OR (bteamname="키움" AND ascore > bscore)
	</select>

	<select id="getKUScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="키움") AS score
		FROM teamRecord
		WHERE ateamname="키움";
	</select>
	
	<select id="getKULoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="키움") AS loss
		FROM teamRecord
		WHERE ateamname="키움";
	</select>
	
	<select id="getHHWin" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as win
		FROM teamRecord
		WHERE (ateamname="한화" AND ascore > bscore) OR (bteamname="한화" AND bscore > ascore)
	</select>
	
	<select id="getHHDraw" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as draw
		FROM teamRecord
		WHERE (ateamname="한화" and ascore = bscore and ascore!="취소" AND ascore!=" ")
		OR
		(bteamname="한화" and ascore = bscore and ascore!="취소" AND ascore!=" ")
	</select>
	
	<select id="getHHLose" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT count(*) as lose
		FROM teamRecord
		WHERE (ateamname="한화" AND bscore > ascore) OR (bteamname="한화" AND ascore > bscore)
	</select>

	<select id="getHHScore" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(ascore)+
		(SELECT sum(bscore) FROM teamRecord WHERE bteamname="한화") AS score
		FROM teamRecord
		WHERE ateamname="한화";
	</select>
	
	<select id="getHHLoss" parameterType="TeamRecordDTO" resultType="TeamRecordDTO">
		SELECT sum(bscore)+
		(SELECT sum(ascore) FROM teamRecord WHERE bteamname="한화") AS loss
		FROM teamRecord
		WHERE ateamname="한화";
	</select>
	
</mapper>




