<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamRecord">
	
	<select id="myteam" resultType="com.ggs.DTO.TeamRecordDTO">
		SELECT * 
		FROM teamRecord 
		WHERE (ateamname=#{teamName} OR bteamname=#{teamName}) and ascore=' ' 
		ORDER BY gdate ASC 
		LIMIT 5;
	</select>

	<!-- 팀 경기 이력 가져오기 -->
	<select id="teamRecord" resultType="com.ggs.DTO.TeamRecordDTO">
	SELECT gno, gdate, gtime, team as ateamname, tscore as ascore, vteam as bteamname, vscore as bscore, stadium, totalcnt 
	FROM
		(
			SELECT * FROM 
			(
				SELECT gno, gdate, gtime, ateamname AS team, ascore AS tscore, bteamname AS vteam, bscore AS vscore, stadium 
				FROM teamRecord WHERE ateamname = #{ateamname}
				union
				SELECT gno, gdate, gtime, bteamname AS team, bscore AS tscore, ateamname AS vteam, ascore AS vscore,  stadium 
				FROM teamRecord 
				WHERE bteamname = #{ateamname}
			) AS t 
			WHERE tscore &gt; -1 AND DATEDIFF(gdate, date(NOW()))&lt;0 
			order by gdate desc LIMIT #{start}, 5
		) AS r,
			(
				SELECT COUNT(*) AS totalcnt 
				FROM teamRecord 
				WHERE (ateamname = #{ateamname} OR Bteamname=#{ateamname}) AND (ascore &gt; -1 AND DATEDIFF(gdate, date(NOW()))&lt;0)
			) AS c
	</select>
	
	<!-- 팀 실적 가져오기 -->
	<select id="teamScore" resultType="com.ggs.DTO.TeamInfoDTO">
	SELECT w.team AS teamName, win, score, lose, loss, draw 
	FROM 
		(SELECT team, sum(cnt) lose, sum(score) loss FROM 
			(SELECT ateamname team, COUNT(ateamname) cnt, SUM(ascore) score 
			FROM teamRecord 
			WHERE ascore &lt; bscore GROUP BY ateamname
			union
			SELECT bteamname team, COUNT(bteamname) cnt, SUM(bscore) score 
			FROM teamRecord 
			WHERE bscore &lt; ascore GROUP BY bteamname) AS ll
			GROUP BY team) AS l,
		(SELECT team, sum(cnt) win, sum(score) score FROM 
			(SELECT ateamname team, COUNT(ateamname) cnt, SUM(ascore) score 
			FROM teamRecord 
			WHERE ascore &gt; bscore GROUP BY ateamname
			union
			SELECT bteamname team, COUNT(bteamname) cnt, SUM(bscore) score 
			FROM teamRecord 
			WHERE bscore &gt; ascore GROUP BY bteamname) AS ww
			GROUP BY team) AS w LEFT OUTER JOIN
		(SELECT team, sum(cnt) draw FROM 
			(SELECT ateamname team, COUNT(ateamname) cnt 
			FROM teamRecord 
			WHERE ascore = bscore AND ascore &gt; -1 AND DATEDIFF(gdate, date(NOW()))&lt;0 GROUP BY ateamname
			union
			SELECT bteamname team, COUNT(bteamname) cnt 
			FROM teamRecord 
			WHERE bscore = ascore and ascore &gt; -1 AND DATEDIFF(gdate, date(NOW()))&lt;0 GROUP BY bteamname) AS dd
			GROUP BY team) AS d ON w.team=d.team
		WHERE w.team!='없음' AND w.team=l.team 
		GROUP BY teamName
		<if test="teamName != null">having teamName = #{teamName}</if>
		ORDER BY teamName DESC;
	</select>
	
</mapper>

