<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamRecord">
	
	<select id="myteam" resultType="com.ggs.DTO.TeamRecordDTO">
		SELECT * 
		FROM teamRecord 
		WHERE (ateamname=#{teamName} OR bteamname=#{teamName}) and ascore=' ' 
		ORDER BY gdate ASC 
		LIMIT 5;
	</select>
	
</mapper>

